@media only screen and (max-width: 780px){

header {
  display: flex;
  justify-content: space-between;
  align-content: center; 
  align-items: center; 
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  display: flex;
  justify-content:center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer div {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 25px;
  border-radius: 100%;
  background-color: var(--grey);
  border: 5px solid var(--black);
  overflow: hidden;
}

footer svg {
  margin: 0 auto;
  /* padding-left: 5px; */
}

#library {
  margin-bottom: 5px;
  padding-left: 1px;
}

#save {
  padding-left: 2px;
}

#statusInfo {
  padding-left: 15px;
  padding: 15px;
  display: block;
  margin-top: 90px;
  display: none;
  margin-bottom: none;
}

#bookHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 10px;
  margin-top: 60px;
  /* margin-bottom: 300px; */
}
.bookdisplay {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  background-color: var(--blue);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252627' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
}

.bookdisplay h2{
  Font-Family: 'Abril Fatface', Cursive;
  margin: 10px;
}

.bookdisplay h3{
  Font-Family: 'Poppins', Sans-Serif; 
  font-size: 14px;
}

.bookdisplay p {
  max-height: 150px;
  padding: 10px;
  margin: 10px;
  Font-Family: 'Poppins', Sans-Serif; 
  font-size: 11px;
background-color: var(--grey);
overflow: scroll;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252627' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
}

}

@media only screen and (min-width: 781px){

  header {
    display: flex;
    justify-content: space-between;
    align-content: center; 
    align-items: center; 
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  footer {
    display: flex;
    justify-content:center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer div {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 25px;
    border-radius: 100%;
    background-color: var(--grey);
    border: 5px solid var(--black);
    overflow: hidden;
  }
  
  footer svg {
    margin: 0 auto;
    /* padding-left: 5px; */
  }
  
  #library {
    margin-bottom: 5px;
    padding-left: 1px;
  }
  
  #save {
    padding-left: 2px;
  }

  #statusInfo {
    padding-left: 15px;
    display: block;
    margin-top: 100px;
    display: none;
    margin-bottom: none;
  }
  
  
  #bookHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    margin: 20px;
    padding: 10px;
    margin-top: 80px;
  }
  .bookdisplay {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    margin: 20px;
    background-color: var(--blue);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252627' fill-opacity='0.2' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
  }
  
  .bookdisplay h2{
    Font-Family: 'Abril Fatface', Cursive;
    padding: 20px;
  }
  
  .bookdisplay h3{
    Font-Family: 'Poppins', Sans-Serif; 
    font-size: 14px;
  }
  
  .bookdisplay p {
    max-height: 150px;
    padding: 10px;
    margin: 10px;
    Font-Family: 'Poppins', Sans-Serif; 
    font-size: 11px;
  background-color: var(--grey);
  overflow: scroll;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23252627' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E")
  }
  
  }